.quote-rotate1 {
  position: absolute;
  top: 10px;
  opacity: 0;
  overflow: visible;
  visibility: hidden;
  transition: opacity, 0.3s, ease;
  padding-bottom: 10px;
 font-family: $font-brand-lighter;
}
.quote-rotate2 {
  position: absolute;
  top: 10px;
  opacity: 0;
  overflow: visible;
  visibility: hidden;
  transition: opacity, 0.3s, ease;
  padding-bottom: 10px;
width: 100%;
text-align: left;

}
.quote-dots1 {
  margin: 0 auto;
  text-align: left;
}
.quote-dots2 {
  margin: 0 auto;
  text-align: left;
margin-top: 10px;
}
.nav-dot1 {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: #dddcde;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.nav-dot2 {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: #dddcde;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;

}
.quotes {
  position: relative;
  height: 300px;
  max-width: 430px;
  position: relative;
}
.quotes2 {
  position: relative;
  height: 333px;
  margin-top: 50px;
}
.show {
  opacity: 1;
  visibility: visible;
}

.dot-fill { background-color: #ffaa00; }

.nav-dot:last-of-type { margin: 0; }
