
$primary-color: #E9B83B;

.project-color{
  background-color: $primary-color;
}

.txt-label{
  color: $primary-color;
}
.project-text-color{
    color: $primary-color;
}

a{
    color: $primary-color;
}
